<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" >
        <meta http-equiv="X-UA-Compatible" content="IE=edge" >
        <meta name="viewport" content="width=device-width, initial-scale=1.0" >
        <title>Survey</title>

        <!-- Style CSS -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="shortcut icon" href="{{ url_for('static',filename='assets/images/favicon.ico') }}" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap"
            rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static',filename='assets/libs/line-awesome/css/line-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='assets/libs/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='assets/libs/swiper/swiper-bundle.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/style.css') }}">
</head>

<body>
    <div id="wrapper">
        <div id="preload" class="preload">
            <div class="spin"></div>
        </div>
        <!-- BEGIN SITE HEADER -->
        <header id="header" class="site-header is-transparent">
            <div class="container-fluid">
                <div class="row flex-align-c inner">
                    <div class="col-lg-3 col-6">
                        <div class="header-left flex flex-align-c">
                            <div class="canvas-menu">
                                <div class="icon">
                                    <a href="#">
                                        <svg width="30px" height="14px" viewBox="0 0 30 14" version="1.1"
                                            xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <g transform="translate(-50.000000, -33.000000)" fill="#111111">
                                                    <g id="off-menu" transform="translate(50.000000, 28.000000)">
                                                        <g id="icon-menu" transform="translate(0.000000, 5.000000)">
                                                            <rect id="Rectangle-1" x="0" y="0" width="30" height="3"
                                                                rx="1.5"></rect>
                                                            <rect id="Rectangle-2" x="0" y="11" width="20" height="3"
                                                                rx="1.5"></rect>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                            <div class="logo">
                                <a href="{{ url_for('index') }}">
                                    <img src="{{ url_for('static',filename='assets/images/teraweb-logo(1).png') }}" alt="logo" width="100px" height="28px">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="main-menu">
                        <ul class="nav justify-content-center"">
                            <li class="nav-item">
                                <a class="nav-link" style="color: black;" href="{{ url_for('index') }}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="color: black;" href="{{ url_for('survey') }}">Survey</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
            <!-- END SITE HEADER -->

            <!-- BEGIN SITE MAIN -->
            <main id="main" class="site-main">
                <section class="page-title">
                    <div class="container">
                        <div class="inner align-center">
                            <h1 class="title">Give us your Review</h1>
                            <!-- <h1 class="title">Get in Touch</h1>
                            <div class="desc">We’re happy to talk to you.</div> -->
                        </div>
                    </div>
                </section><!-- PAGE TITLE -->
                <div class="site-content">
                    <div class="container">
                        <div class="inner align-center">
                            <div class="contact-form layout-01">
                                <div class="heading">
                                    <!-- <h2 class="heading-title">Send us a message.</h2> -->
                                    <h2 class="heading-title">Send us your review</h2>
                                    <!-- <div class="heading-desc">Feel free to contact us with questions, potential partnerships, or media inquiries.</div> -->
                                </div>
                                <form action="{{ url_for('survey') }}" method="post">
                                    <div class="container">
                                        <div class="inner align-center">
                                            <div class="field-input">
                                                <h4></h4><label for="first_name">Name*</label></h4>
                                                <input type="text" name="name" id="name" value="" placeholder="Enter your name" style="text-align:center; font-family: Arial, sans-serif; font-size: 25px; width: 500px;">
                                            </div>
                                        </div>
                                        <!-- <div class="col-md-6">
                                            <div class="field-input">
                                                <label for="last_name">Last name*</label>
                                                <input type="text" name="last_name" id="last_name" value="" placeholder="Enter your last name">
                                            </div>
                                        </div> -->
                                        <div class="inner align-center">
                                            <div class="field-input">
                                                <h4><label for="Email" style="text-align:center;">Email*</label></h4>
                                                <input type="text" name="email" id="email" value="" placeholder="Enter your email" style="text-align:center; font-family: Arial, sans-serif; font-size: 25px; width: 500px;">
                                            </div>
                                        </div>
                                        <!-- <div class="col-md-6">
                                            <div class="field-input">
                                                <label for="phone_number">Phone number</label>
                                                <input type="text" name="phone_number" id="phone_number" value="" placeholder="Enter your phone number">
                                            </div>
                                        </div> -->
                                        <div class="inner align-center">
                                            <div class="field-input field-textarea">
                                                <h4><label for="message">Message*</label></h4>
                                                <textarea name="message" id="message" placeholder="Write your message" style="text-align:center; font-family: Arial, sans-serif; font-size: 25px; width: 500px;"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="field-submit">
                                                <input type="submit" value="Send Message" name="submit">
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
                                </form>
                            </div>
                            <div class="alert">
                                {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                {% for message in messages %}
                                <div class="alert alert-success" role="alert">
                                    {{ message }}
                                </div>
                                {% endfor %}
                                {% endif %}
                                {% endwith %}
                            </div>
                        </div>
                        
                    </div>
                </div><!-- SITE CONTENT -->
            </main>
            <!-- END SITE MAIN -->
    
        <!-- jQuery -->
        <script src="{{ url_for('static',filename='assets/js/jquery-1.12.4.js') }}"></script>
        <script src="{{ url_for('static',filename='assets/libs/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static',filename='assets/libs/swiper/swiper-bundle.min.js') }}"></script>
        <script src="{{ url_for('static',filename='assets/libs/waypoints/jquery.waypoints.min.js') }}"></script>
        <script src="{{ url_for('static',filename='assets/libs/counter/jquery.counterup.min.js') }}"></script>
        <script src="{{ url_for('static',filename='assets/libs/wowjs/wow.min.js') }}"></script>
        <script src="{{ url_for('static',filename='assets/js/main.js') }}"></script>
    </body>
</html>
